# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
._*

# Environments & Virtual Environments
.venv/
venv/
env/
ENV/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter / Notebook checkpoints
.ipynb_checkpoints

# IDE / Editor configuration
.vscode/
.idea/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
